#background_img_login {
-fx-background-image: url('./background_img.jpg');
-fx-background-size: 100% 100%;
}

#bgt_main {
	-fx-background-color: white;
}

#panePiano  {
	-fx-background-color: #e0dede;
	-fx-border-color: black;
}

.timeBlock {
	-fx-border-style: hidden solid hidden hidden;
    -fx-border-width: 1;
    -fx-border-color: gray;
}

.soundBlock {
	-fx-background-radius: 3;
	-fx-border-radius: 3;
	-fx-padding: 5;
	-fx-border-insets: 2 0 2 0;
    -fx-background-insets: 2 0 2 0;
}